
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title> REST API Generator</title>
    <link href="/main.css" rel="stylesheet">
  </head>
  <body>


    <div class="max-w-5xl flex align-middle m-auto">

    <h1 class="text-red-500 font-black">232232</h1>
    {{ message }}


    <div id="examples"></div>

    <button class="bg-red-400" id="api-btn"> Submit</button>
    </div>



    <script src="/examples.js"></script>
  </body>
</html>